
header {
  padding: 150px 0;
}

header.banner {
  background: url("../539photo/cover.jpg") no-repeat center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  margin-bottom: 100px;
}

nav{
  background-color: #696969;

}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
  float: right;
  margin-top: 0px;
}

ul.topnav li a {
    display: block;
    color: #FFFFFF;
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 0px;
    font-style: bold;
}

ul.topnav li a:hover:not(.active) {color: #111; font-style: bold;}

ul.topnav li a.active {color: #4CAF50;font-style: bold;}


@media screen and (max-width: 768px){
    ul.topnav li {float: none;}
}


p{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 2em;

}



h1{
	font-size: 60px;
  text-align: left;
  color:#FFFFFF;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  margin:0 auto;
  width:30%;
}

/*Home*/

article{
  width:60%;
  max-width:992px; 
  margin:0 auto;
}

.homeh2{
  padding:0px;
}


/*experience-lifeproject*/

section.container{
  margin-top: 20px;
  margin-bottom: 150px;
  margin-right: 40px;
  margin-left:40px;
}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99%;

}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div.projectintro{
  font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin:0 auto;
  width:60%;
  max-width: 750px;
  font-size:25px;

}

div.projecttitle{
  font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight:800;

}



/*about*/
h2{font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  padding: 20px;

}


#about_img{
  display: inline-block;
  float:left;
  width:45%;
  text-align: center;
  margin: 0.5em;
  padding: 100px 32px 32px 50px;

}

#about_intro{
  display: inline-block;
  float:left;
  width:45%;
  text-align: center;
  margin: 0.5em;
  padding: 60px 60px 50px 60px;

}

div.aboutme p{
  text-align: left;

}



/*contact*/


div.banner{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;

}

form.form-horizontal{
  margin-top: 100px;
  margin-bottom:100px;
}


.text-center{
  background-color: #FFFFFF;
  margin-top: 0px;
}




footer.banner { 
    font-size: 20px;
    color :#FFFFFF;
  	text-align: center;
  	font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  	background-color: #696969;
  	padding: 25px 0 30px;
    margin-top: 100px;
}


@media only screen and (max-width: 992px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 768px){
    .responsive {
        width: 100%;
    }
}





